.button {
  background-color: var(--control-background-unticked);
  color: var(--color-text);
  border-radius: 12px;
  padding: 0.375rem 0.75rem;
  border: 1px inset var(--border-control);
  cursor: pointer;
}

.button:active {
  background-color: var(--control-background);
  color: var(--color-title);
}
