textarea {
  appearance: none;
  width: 100%;
  max-height: 10rem;
  min-height: 2rem;
  height: 70px;
  font-family: Arial, Helvetica, sans-serif;
  resize: vertical;
  box-sizing: border-box;
  padding: 0.375rem 0.25rem;
  border-radius: 6px;
  border: inset 1px var(--border-control);
  background: var(--control-background-unticked);
  color: var(--color-text);
}
