select {
  appearance: none;
  display: flex;
  position: relative;
  background-color: var(--control-background-unticked);
  border: 1px inset var(--border-control);
  color: var(--color-text);
  padding: 0.375rem 0.25rem;
  border-radius: 6px;
  font-size: 1rem;
}

/* TODO: Add dropdown icon to select element */
select::after {
  content: "a";

  position: absolute;
  background-color: red;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
